
  <!-- ====================================
      TITLE
     ==================================== -->
  <h1 mat-dialog-title *ngIf="station.active === 1" class="ok">
    {{ station.id }} - {{ station.code }} - {{ station.name }}
  </h1>
  <h1 mat-dialog-title *ngIf="station.active === 0" class="error">
    {{ station.id }} - {{ station.code }} - {{ station.name }}
  </h1>
  <!-- ====================================
          CONTENT
         ==================================== -->
  <div mat-dialog-content>
    <div class="row">
      <!-- ====================================
              LEFT COLUMN
             ==================================== -->
      <div class="col dialog-col-mw" >
        <img class="unit-image" [src]="imageURL" (click)="openDialogImage()" />
        <br /><br />

        <div class="container-fluid">
          <div class="row">
            <div class="col-3">
              Altitud:
              <br />
              Latitud:
              <br />
              Longitud:
              <br />
              Descripción:
            </div>
            <div class="col">
              <b>{{ station.altitude }} m</b>
              <br />
              <b>{{ station.latitude }}º</b>
              <br />
              <b>{{ station.longitude }}º</b>
              <br />
              {{ station.description }}
            </div>
          </div>
        </div>
      </div>
      <!-- ====================================
              RIGTH COLUMN
             ==================================== -->
      <div class="col dialog-col-mw">
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Ex. ium"
            #input
          />
        </mat-form-field>

        <mat-selection-list [multiple]="false">
          <mat-list-option
            *ngFor="let unit of units"
            role="listitem"
            (click)="openDialogUnit(unit)"
            >{{ unit.code }}</mat-list-option
          >
        </mat-selection-list>
      </div>
    </div>
  </div>

  <hr />

  <!-- ====================================
          BOOTOM CONTENT
         ==================================== -->
  <div mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Cerrar</button>
    <button mat-raised-button (click)="openDialogStationCreate()">
      Modificar
    </button>
  </div>
