<h1 mat-dialog-title *ngIf="create">Crear Sector</h1>
<h1 mat-dialog-title *ngIf="!create">Modificar Sector - <span>{{sector.code}}</span></h1>

<!-- CONTENT -->

<div mat-dialog-content>

    <form [formGroup]="sectorForm">

        <div class="col-sm mr-3">
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Código</mat-label>
                    <input matInput formControlName="code" required>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill" style="width: 100%">
                    <mat-label>Descripción</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                </mat-form-field>
            </div>
        </div>
        
    </form>

</div>

<hr>

<!-- ACTIONS -->

<div mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Cerrar</button>
    <button mat-raised-button type="submit" (click)="accept()">Aceptar</button>
</div>