<!-- CONTENT -->

<div mat-dialog-content>

  <!-- title -->

  <div>
    <h1 mat-dialog-title><span class="unit-icon fas fa-map"></span>
      &nbsp;Sector
      &nbsp;{{ sector.name }}
      &nbsp;{{ sector.code }}
    </h1>
  </div>

  <form [formGroup]="sectorForm">

    <div class="row">

      <!-- LEFT COL -->

      <div class="col-md-6 col-12 text-center">

        <div class="mb-2">
          <mat-checkbox class="example-margin" formControlName="active">Activo</mat-checkbox>
        </div>

        <img class="unit-image mb-2" [src]="imageURL" />

        <div>
          <button type="button" mat-raised-button (click)="fileInput.click()">
            Seleccionar imagen
          </button>
        </div>
        <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file" />
      </div>

      <!-- RIGHT COL -->

      <div class="col-md-6 col-12">
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Código</mat-label>
            <input matInput formControlName="code" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-select [compareWith]="compareUnitSector" multiple formControlName="units">
              <mat-option *ngFor="let unit of units" [value]="unit">
                {{ unit.code }} {{ getType(unit) }}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
      </div>

    </div>

    <mat-form-field appearance="fill">
      <mat-label>Unidades de control</mat-label>

      <mat-chip-list aria-label="Selección de unidades">
        <mat-chip *ngFor="let unit of sectorForm.value.units" [selectable]="selectable" [removable]="removable"
          (removed)="remove(unit)">
          {{ unit.code }} {{ getType(unit) }}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>

    </mat-form-field>

    <!-- Text Area -->
    <div>
      <mat-form-field appearance="fill" style="width: 100%">
        <mat-label>Descripción</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
    </div>
  </form>
</div>

<hr />

<!-- ACTIONS -->

<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cerrar</button>
  <button mat-raised-button type="submit" (click)="accept()">Aceptar</button>
</div>
