<div class="container mt-5">
  <h1>Unidades de control. Genericos</h1>

  <div class="row align-items-center mb-2">
    <div class="col">
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input class="d-flex" matInput (keyup.enter)="applyFilter(input.value)"
          placeholder="Introduzca datos a filtrar..." #input />
      </mat-form-field>
    </div>
    <div class="col d-flex gap-3">
      <mat-checkbox [(ngModel)]="checkedActive">Activos</mat-checkbox>
      <mat-checkbox [(ngModel)]="checkedCommunication">Comunicación</mat-checkbox>
    </div>
  </div>

  <div *ngIf="!showLoader">

  </div>
  <div
    *ngFor="let unitGeneric of unitsGenerics | unitActiveFilter: checkedActive  | unitCommunicationFilter: checkedCommunication  | unitFilter: searchText"
    class="mb-2" role="listitem">

    <div *ngIf="unitGeneric">

      <div class="w-100 mb-3 p-2 rounded border border-secondary">

        <div class="row mb-2">

          <div
            class="col-md d-flex flex-row flex-wrap gap-3 align-items-center mb-2 justify-content-md-start justify-content-center"
            (click)="openDialoggeneric(unitGeneric)">
            <span>
              <span class="unit-icon fas fa-dot-circle"></span>
              {{ unitGeneric.unit.sector ? unitGeneric.unit.sector.code : "" }}-{{ unitGeneric.unit.code }}
            </span>

            <span>{{ unitGeneric.pondState$ | async }}</span>

            <div>
              <mat-checkbox class="me-3" [checked]="unitGeneric.unit.active" disabled>Activo</mat-checkbox>
              <mat-checkbox [checked]="unitGeneric.unit.communication" disabled>Comunicación
              </mat-checkbox>
            </div>

            <div *ngFor="let set of unitGeneric.unit.sets; let i = index">
              <div *ngIf="i > 0"><b>, </b></div><b>{{ set.name }}</b>
            </div>
          </div>

        </div>

        <div class="col-md row list-details m-1 p-1">

          <div class="col-lg mb-2 mb-md-0">
            Propiedad 1: <span class="fw-bold">{{ unitGeneric.property1$ | async }}</span>
          </div>

          <div class="col-lg mb-2 mb-md-0">
            Propiedad 2: <span class="fw-bold">{{ unitGeneric.property2$ | async }}</span>
          </div>

          <div class="col-lg mb-2 mb-md-0">
            Propiedad 3: <span class="fw-bold">{{ unitGeneric.property3$ | async }}</span>
          </div>

          <div class="col-lg mb-2 mb-md-0">
            Propiedad 4: <span class="fw-bold">{{ unitGeneric.property4$ | async }}</span>
          </div>

          <div class="col-lg mb-2 mb-md-0">
            Propiedad 5: <span class="fw-bold">{{ unitGeneric.property5$ | async }}</span>
          </div>

        </div>

      </div>
    </div>

  </div>



</div>
