<h1 mat-dialog-title>{{unitHydrant.getId()}} - {{unitHydrant.getUnit().getCode()}}</h1>
<div mat-dialog-content>
  <div class="row">
    <div class="col-sm">
      <img src="assets/img/default.jpg" alt="" width="100%">
      <hr>
      <ng-template #empty>
        <b>---</b>
      </ng-template>
      <table>
        <tr>
          <td>Sector:</td>
          <td *ngIf="unitHydrant.getUnit().getSector(); else empty" style="padding-left: 5px;"><b>{{unitHydrant.getUnit().getSector().name}}</b></td>
        </tr><tr>
          <td>Estación:</td>
          <td *ngIf="unitHydrant.getUnit().getStation(); else empty" style="padding-left: 5px;"><b>{{unitHydrant.getUnit().getStation().name}}</b></td>
        </tr><tr>
          <td>Conjuntos:</td>
          <td *ngIf="unitHydrant.getUnit().getSets(); else empty" style="padding-left: 5px;"><b *ngFor="let set of unitHydrant.getUnit().getSets()">{{set.name}}, </b></td>
        </tr>
        <hr>
        <tr>
          <td>Altitud:</td>
          <td style="padding-left: 5px;"><b>{{unitHydrant.getUnit().getAltitude()}} m</b></td>
        </tr>
        <tr>
          <td>Latitud:</td>
          <td style="padding-left: 5px;"><b>{{unitHydrant.getUnit().getLatitude()}}º</b></td>
        </tr>
        <tr>
          <td>Longitud:</td>
          <td style="padding-left: 5px;"><b>{{unitHydrant.getUnit().getLongitude()}}º</b></td>
        </tr>
      </table>

    </div>
    <div class="col-sm">
      <table>
        <tr>
          <td style="padding-left: 5px;">
            <button mat-raised-button [disabled]="unitHydrant.isValve()" (click)="openValve()">Abrir</button>
          </td>
          <td style="padding-left: 5px;">
            <button mat-raised-button [disabled]="!unitHydrant.isValve()" (click)="closeValve()">Cerrar</button>
          </td>
        </tr>
        <br>
        <tr>
          <td>Electroválvula:</td>
          <td style="padding-left: 5px; color: green" *ngIf="unitHydrant.isValve()"><b>Abierta</b></td>
          <td style="padding-left: 5px; color: red" *ngIf="!unitHydrant.isValve()"><b>Cerrada</b></td>
        </tr>
        <tr>
          <td>Caudal:</td>
          <td style="padding-left: 5px;"><b>{{unitHydrant.getFlow()}}</b></td>
        </tr>
        <!-- <hr>
        <tr>
          <td>Temperatura:</td>
          <td style="padding-left: 5px;"><b>{{unitHydrant.getTemperature()}}&deg;</b></td>
        </tr>
        <tr>
          <td>Humedad:</td>
          <td style="padding-left: 5px;"><b>{{unitHydrant.getHumidity()}}%</b></td>
        </tr>
         -->
         <hr>
        <tr>
          <td>Boya alta:</td>
          <td style="padding-left: 5px;" *ngIf="unitHydrant.isBouyHight()"><b>Arriba</b></td>
          <td style="padding-left: 5px;" *ngIf="!unitHydrant.isBouyHight()"><b>Abajo</b></td>
        </tr>
        <tr>
          <td>Boya media:</td>
          <td style="padding-left: 5px;" *ngIf="unitHydrant.isBouyMedium()"><b>Arriba</b></td>
          <td style="padding-left: 5px;" *ngIf="!unitHydrant.isBouyMedium()"><b>Abajo</b></td>
        </tr>
        <tr>
          <td>Boya baja:</td>
          <td style="padding-left: 5px;" *ngIf="unitHydrant.isBouyLow()"><b>Arriba</b></td>
          <td style="padding-left: 5px;" *ngIf="!unitHydrant.isBouyLow()"><b>Abajo</b></td>
        </tr>
        <tr>
          <td>Estado boyas:</td>
          <td style="padding-left: 5px;"><b>{{unitHydrant.getBouyState()}}</b></td>
        </tr>
        <tr>
          <td>Anomalías:</td>
          <td style="padding-left: 5px;"><b>{{unitHydrant.getBouyWarning()}}</b></td>
        </tr>
      </table>
    </div>
  </div>

</div>

<hr>

<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cerrar</button>
  <button mat-raised-button (click)="openDialogHydrantCreate()">Modificar</button>
</div>