<div class="container mt-5">
  <h1>Unidades de control. Balsas</h1>

  <div class="row align-items-center mb-2">
    <div class="col">
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input class="d-flex" matInput (keyup.enter)="applyFilter(input.value)"
          placeholder="Introduzca datos a filtrar..." #input />
      </mat-form-field>
    </div>
    <div class="col d-flex gap-3">
      <mat-checkbox [(ngModel)]="checkedActive">Activos</mat-checkbox>
      <mat-checkbox [(ngModel)]="checkedCommunication">Comunicación</mat-checkbox>
    </div>
  </div>

  <div *ngIf="!showLoader">

  </div>
  <div
    *ngFor="let unitPond of unitsPonds | unitActiveFilter: checkedActive  | unitCommunicationFilter: checkedCommunication  | unitFilter: searchText"
    class="mb-2" role="listitem">

    <div *ngIf="unitPond">

      <div class="w-100 mb-3 p-2 rounded border border-secondary">

        <div class="row justify-content-center">

          <div
            class="col-md d-flex flex-row flex-wrap gap-3 align-items-center justify-content-md-start justify-content-center mb-2 mb-md-0"
            (click)="openDialogPond(unitPond)">
            <span>
              <span class="unit-icon fas fa-faucet"></span>
              {{ unitPond.unit.sector ? unitPond.unit.sector.code : "" }}-{{ unitPond.unit.code }}
            </span>

            <span>{{ unitPond.pondState }}</span>

            <div>
              <mat-checkbox class="me-3" [checked]="unitPond.unit.active" disabled>Activo</mat-checkbox>
              <mat-checkbox [checked]="unitPond.unit.communication" disabled>Comunicación
              </mat-checkbox>
            </div>

            <div *ngFor="let set of unitPond.unit.sets; let i = index">
              <div *ngIf="i > 0"><b>, </b></div><b>{{ set.name }}</b>
            </div>
          </div>

          <div class="col-md col-10 row list-details p-1 me-md-2">

            <div class="col-md-6">
              Altura: <span class="fw-bold">{{ unitPond.height ? unitPond.height : 0 }}</span> m
            </div>

            <div class="col-md-6">
              Capacidad: <span class="fw-bold">{{ unitPond.m3 ? unitPond.m3 : 0 }}</span> m3
            </div>

          </div>

        </div>



      </div>
    </div>

  </div>



</div>
