<div mat-dialog-content>

  <!-- title -->

  <div (click)="openDialogImage()">
    <h1 mat-dialog-title><span class="unit-icon fas fa-map"></span>
      &nbsp;Sector
      &nbsp;{{ sector.name }}
      &nbsp;{{ sector.code }}
    </h1>
  </div>

  <div class="row">

    <!-- LEFT COL -->

    <div class="col-md-6 col-12 text-center">
      <mat-checkbox class="mb-2" [checked]="sector.active" disabled>Activo</mat-checkbox>

      <img (click)="openDialogImage()" class="unit-image mb-2" [src]="imageURL" />

      <div *ngIf="sector.description" class="mt-2">{{ sector.description }}</div>
    </div>

    <!-- right column -->

    <div class="col-md-6 col-12">
      <mat-form-field>
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Búsqueda" #input />
      </mat-form-field>

      <mat-selection-list [multiple]="false">
        <mat-list-option *ngFor="let unit of sector.units" role="listitem" (click)="openDialogUnit(unit)">{{
          getType(unit.unitTypeTable) }} - {{ unit.code }}</mat-list-option>
      </mat-selection-list>
    </div>

  </div>
</div>

<hr />

<!-- ====================================
            BOOTOM CONTENT
           ==================================== -->
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cerrar</button>
  <button appRoleModerator mat-raised-button (click)="openDialogSectorCreate()">
    Modificar
  </button>
</div>
