<mat-sidenav-container class="navbar-container" (backdropClick)="close('backdrop')">
  <mat-sidenav class="navbar" #sidenav (keydown.escape)="close('escape')" disableClose>
    <img class="logo" src="../../../../assets/img/logo.png" />
    <br />
    <br />
    <!-- <p><button mat-button (click)="close('toggle button')">Toggle</button></p> -->

    <!-- START Map -->
    <button class="button-navbar" mat-button (click)="goMap()">Mapa</button>
    <br />
    <!-- END Map -->

    <!-- START Show Menú -->
    <button class="button-navbar" mat-button [matMenuTriggerFor]="menuShows">
      Mostrar
    </button>
    <mat-menu #menuShows="matMenu">
      <div class="container">
        <mat-checkbox class="example-margin" [(ngModel)]="cbxStationChecked" (ngModelChange)="showStations()"
          (click)="$event.stopPropagation()">
          Estaciones
        </mat-checkbox>
        <br />
        <mat-checkbox class="example-margin" [(ngModel)]="cbxUnitHydrantChecked" (ngModelChange)="showUnitsHydrants()"
          (click)="$event.stopPropagation()">
          Hidrantes
        </mat-checkbox>
        <br />
        <mat-checkbox class="example-margin" [(ngModel)]="cbxUnitPondChecked" (ngModelChange)="showUnitsPonds()"
          (click)="$event.stopPropagation()">
          Balsas
        </mat-checkbox>
        <br />
        <mat-checkbox class="example-margin" [(ngModel)]="cbxUnitGenericChecked" (ngModelChange)="showUnitsGenerics()"
          (click)="$event.stopPropagation()">
          Genéricos
        </mat-checkbox>
      </div>
      <button mat-button (click)="$event.stopPropagation(); setCbxToTrue()">
        Mostrartodo
      </button>
      <button mat-button (click)="$event.stopPropagation(); setCbxToFalse()">
        Limpiar
      </button>
      <hr />
      <div class="container">
        <mat-radio-group aria-labelledby="radio-group" #group="matRadioGroup" (change)="setStyle($event)">
          <mat-radio-button class="radio-button" value="{{ mapboxStyleEnum.STREETS }}"
            (click)="$event.stopPropagation()">
            Carretera
          </mat-radio-button>
          <br />
          <mat-radio-button class="radio-button" value="{{ mapboxStyleEnum.SATELITE }}"
            (click)="$event.stopPropagation()" checked>
            Satélite
          </mat-radio-button>
          <br />
          <mat-radio-button class="radio-button" value="{{ mapboxStyleEnum.DARK }}" (click)="$event.stopPropagation()">
            Oscuro
          </mat-radio-button>
          <br />
          <mat-radio-button class="radio-button" value="{{ mapboxStyleEnum.LIGHT }}" (click)="$event.stopPropagation()">
            Claro
          </mat-radio-button>
          <br />
        </mat-radio-group>
      </div>
    </mat-menu>
    <br />
    <!-- END Show Menú -->

    <!-- START Go to... -->
    <button class="button-navbar" mat-button [matMenuTriggerFor]="menuStations">
      Ir a...
    </button>
    <mat-menu #menuStations="matMenu">
      <button mat-menu-item *ngFor="let station of stations" (click)="centerMapTo(station)">
        {{ station.name }}
      </button>
    </mat-menu>
    <br />
    <!-- END Go to... -->

    <button class="button-navbar" mat-button [matMenuTriggerFor]="list">
      Listar
    </button>

    <mat-menu #list="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="listUnits">
        Unidades de control
      </button>
      <button mat-menu-item (click)="goSectors()">Sectores</button>
      <button mat-menu-item (click)="goStations()">Estaciones</button>
      <button mat-menu-item (click)="goSets()">Conjuntos</button>
    </mat-menu>

    <mat-menu #listUnits="matMenu">
      <button mat-menu-item (click)="goUnitsGenerics()">Genéricos</button>
      <button mat-menu-item (click)="goUnitsHydrants()">Hidrantes</button>
      <button mat-menu-item (click)="goUnitsPonds()">Balsas</button>
    </mat-menu>

    <button class="button-navbar" mat-button [matMenuTriggerFor]="create" [disabled]="disabled">
      Crear
    </button>

    <mat-menu #create="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="createUnits">
        Unidades de control
      </button>
      <button mat-menu-item (click)="openDialogSectorCreate()">Sector</button>
      <button mat-menu-item (click)="openDialogStationCreate()">
        Estación
      </button>
      <button mat-menu-item (click)="openDialogSetCreate()">Conjunto</button>
    </mat-menu>

    <mat-menu #createUnits="matMenu">
      <button mat-menu-item (click)="openDialogUnitGenericCreate()">
        Genérico
      </button>
      <button mat-menu-item (click)="openDialogUnitHydrantCreate()">
        Hidrante
      </button>
      <button mat-menu-item (click)="openDialogUnitPondCreate()">Balsa</button>
    </mat-menu>

  </mat-sidenav>

  <mat-sidenav-content>
    <button class="button-menu" mat-button (click)="sidenav.open()" [hidden]="hidden">
      <mat-icon>line_weight</mat-icon>
    </button>

    <div *ngIf="user" id="user" class="text-muted">
      <button id="button-session" mat-raised-button (click)="sessionCardHidden = !sessionCardHidden">
        <span class="text-primary">{{user.username}}</span>&nbsp;&nbsp;<span class="text-secondary">Inicio:
          {{user.session.started | date: 'short'}}</span>
      </button>
      <mat-card id="p-2 text-left" [hidden]="sessionCardHidden">

        <div class="row d-flex justify-content-end">
          <div class="col text-right">
            <span class="fw-bold text-primary">{{user.username}}</span>
            <br>
            <span class="text-secondary">{{user.email}}</span>
            <br>
            <span class="text-success">{{user.role}}</span>
          </div>
          <div class="col-2 mr-3">
            <img id="user-img" src="../../../../assets/img/user.png" alt="Usuario" title="Usuario">
          </div>
        </div>

        <div class="text-left">
          <div class="row">
            <div class="col-2 text-body">Sesión:</div>
            <div class="col-10">{{user.session.id}}</div>
          </div>
          <div class="row">
            <div class="col-2">Origen:</div>
            <div class="col-10 text-start">{{user.session.origin}}</div>
          </div>
          <div class="row">
            <div class="col-2">Dispositivo:</div>
            <div class="col-10">{{user.session.userAgent}}</div>
          </div>
        </div>


        <button mat-raised-button color="warn" (click)="logout()">Desconectar</button>

      </mat-card>
    </div>

    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
