.superponer {
  z-index: 2;
}

.navbar {
  max-width: 250px;
}

.nav-link {
  background-color: transparent;
}

.nav-link:hover {
  background-color: lightblue;
  box-shadow: inset 0px 0px 10px transparent;
}

.icon {
  width: 60px;
  height: 60px;
}

.icon-link {
  width: 30px;
  height: 20px;
}

