<div class="container mt-5">
  <h1>Conjuntos</h1>

  <div class="row align-items-center mb-2">
    <div class="col">
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input class="d-flex" matInput (keyup.enter)="applyFilter(input.value)"
          placeholder="Introduzca datos a filtrar..." #input />
      </mat-form-field>
    </div>
    <div class="col d-flex gap-3">
      <mat-checkbox [(ngModel)]="checkedActive">Activos</mat-checkbox>
    </div>
  </div>

  <div *ngIf="!showLoader">

  </div>
  <div *ngFor="let set of sets | setActiveFilter: checkedActive  | setFilter: searchText" class="mb-2"
    role="listitem">

    <div *ngIf="set">

      <div class="w-100 mb-3 p-2 rounded border border-secondary">

        <div class="gap-3 d-flex flex-row align-items-center mb-2" (click)="openDialogSet(set)">
          <span>
            <span class="unit-icon fas fa-faucet"></span>
            {{ set.name ? set.name : "" }}
          </span>

          <mat-checkbox class="me-3" [checked]="set.active" disabled>Activo</mat-checkbox>

          <span>{{ set.description ? set.description : '' }}</span>

        </div>

        <div class="d-flex flex-row flex-wrap gap-1 p-1 me-md-2">

          <div *ngFor="let unit of set.units; let i = index">

            <button mat-stroked-button (click)="openDialog(unit)">{{ unit.code }}
              {{ getType(unit) }}
            </button>
          </div>

        </div>



      </div>
    </div>

  </div>



</div>
