<div class="container mt-5">
  <h1>Unidades de control. Hidrantes</h1>

  <div class="row align-items-center mb-2">
    <div class="col">
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input class="d-flex" matInput (keyup.enter)="applyFilter(input.value)"
          placeholder="Introduzca datos a filtrar..." #input />
      </mat-form-field>
    </div>
    <div class="col d-flex gap-3">
      <mat-checkbox [(ngModel)]="checkedActive">Activos</mat-checkbox>
      <mat-checkbox [(ngModel)]="checkedCommunication">Comunicación</mat-checkbox>
    </div>
  </div>

  <div  *ngIf="!showLoader">

  </div>
  <div
    *ngFor="let unitHydrant of unitsHydrants | unitActiveFilter: checkedActive  | unitCommunicationFilter: checkedCommunication  | unitFilter: searchText"
    class="mb-2" role="listitem">

    <div *ngIf="unitHydrant">

      <div class="w-100 mb-3 p-2 rounded border border-secondary">

        <div class="row mb-2">

          <div
            class="col-md d-flex flex-row flex-wrap gap-3 align-items-center mb-2 justify-content-md-start justify-content-center"
            (click)="openDialogHydrant(unitHydrant)">
            <span>
              <span class="unit-icon fas fa-faucet"></span>
              {{ unitHydrant.unit.sector ? unitHydrant.unit.sector.code : "" }}-{{ unitHydrant.unit.code }}
            </span>

            <span>{{ unitHydrant.pondState$ | async }}</span>

            <div>
              <mat-checkbox class="me-3" [checked]="unitHydrant.unit.active" disabled>Activo</mat-checkbox>
              <mat-checkbox [checked]="unitHydrant.unit.communication" disabled>Comunicación
              </mat-checkbox>
            </div>

            <div *ngFor="let set of unitHydrant.unit.sets; let i = index">
              <div *ngIf="i > 0"><b>, </b></div><b>{{ set.name }}</b>
            </div>
          </div>

          <div
            class="col-md d-flex flex-row flex-wrap gap-3 justify-content-md-end justify-content-center align-items-center">
            <button mat-raised-button color="primary" [disabled]="unitHydrant.valve$.value == 1"
              (click)="openValve(unitHydrant)">
              Abrir
            </button>
            <button mat-raised-button color="warn" [disabled]="unitHydrant.valve$.value == 0"
              (click)="closeValve(unitHydrant)">
              Cerrar
            </button>
            <button mat-raised-button color="warn" (click)="resetBatch(unitHydrant)">
              Reiniciar tanda
            </button>
          </div>

        </div>

        <div class="row list-details m-1 p-1">

          <div class="col-md">
            Caudal: <span class="fw-bold">{{ unitHydrant.flow$ | async }}</span> l/s
          </div>

          <div class="col-md">
            Presión: <span class="fw-bold">{{ unitHydrant.pressure$ | async }}</span> bar
          </div>

          <div class="col-md">
            Lectura: <span class="fw-bold">{{ unitHydrant.reading$ | async }}</span> m3
          </div>

          <div class="col-md">
            Inicial: <span class="fw-bold">{{ unitHydrant.initBatch }}</span> m3
          </div>

          <div class="col-md">
            Tanda: <span class="fw-bold">{{ unitHydrant.batch }}</span> m3
          </div>

        </div>

      </div>
    </div>

  </div>



</div>
