<div id="login-background"></div>

<div class="container-fluid m-0 d-flex flex-wrap vh-100 align-items-center justify-content-center">

  <div id="login" class="p-3 rounded">
    <div class="row">
      <div class="col">
        <h1 class="text-relief text-center">
          COMUNIDAD DE REGANTES LAS CUATRO VEGAS DE ALMERÍA
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 text-center">

        <div *ngIf="userAuthenticated && !userRolePermission">
          Te has identificado correctamente pero no tienes permiso para entrar en la aplicación. Contacta con algún
          administrador.
          <br />
          <button id="button-login" mat-raised-button color="primary" (click)="logout()" tabindex="3">
            Desconectar
          </button>
        </div>
        <form *ngIf="!userAuthenticated" class="login-form" [formGroup]="loginForm">
          <h3>Identifiquese</h3>

          <mat-form-field appearance="fill">
            <mat-label>Usuario o email</mat-label>
            <input matInput placeholder="Usuario o email" formControlName="loginUser" tabindex="1" required />
          </mat-form-field>

          <br />

          <mat-form-field appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" autocomplete="on" formControlName="loginPassword"
              tabindex="2" required />
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide" tabindex="-1">
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>

          <br />
          <button id="button-login" mat-raised-button color="primary" (click)="login()" type="submit" tabindex="3">
            Entrar
          </button>
        </form>

        <br>
        <mat-error *ngIf="!userAuthenticated">{{ loginMessage }}</mat-error>
      </div>

      <div class="col-sm-6 text-center">
        <form class="login-form" [formGroup]="signinForm" autocomplete="off">
          <h3>Registro</h3>

          <mat-form-field appearance="fill">
            <mat-label>Usuario</mat-label>
            <input matInput placeholder="Usuario" formControlName="signinUser" tabindex="4" required />
          </mat-form-field>


          <mat-form-field appearance="fill">
            <mat-label>Introduzca su email</mat-label>
            <input id="signinEmail" matInput placeholder="usuario@outlook.com" formControlName="signinEmail"
              tabindex="5" required />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Vuelva a introducir su email</mat-label>
            <input id="signinEmailTwo" matInput placeholder="usuario@outlook.com" formControlName="signinEmailTwo"
              tabindex="6" required autocomplete="none" />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="signinPassword" tabindex="7"
              required autocomplete="off" />
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hidePassword">
              <mat-icon>{{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Vuelva a introducir su contraseña</mat-label>
            <input matInput [type]="hidePasswordTwo ? 'password' : 'text'" formControlName="signinPasswordTwo"
              tabindex="8" required autocomplete="off" />
            <button mat-icon-button matSuffix (click)="hidePasswordTwo = !hidePasswordTwo"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePasswordTwo">
              <mat-icon>{{ hidePasswordTwo ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>

          <button id="button-signin" class="mb-3" mat-raised-button color="primary" (click)="signin()" tabindex="9"
            type="submit">
            Registrar
          </button>
        </form>
      </div>
    </div>
  </div>

</div>
