<div class="container">
  <!-- ====================================
      TITLE
     ==================================== -->
  <h1 mat-dialog-title>Genérico {{ unitGeneric.unit.code }}</h1>

  <!-- ====================================
            CONTENT
           ==================================== -->
  <div mat-dialog-content>
    <div class="row">
      <div class="col-sm mr-3">
        <mat-checkbox
          class="example-margin"
          [checked]="unitGeneric.unit.active"
          disabled
          >Activo</mat-checkbox
        >
        &nbsp;&nbsp;&nbsp;&nbsp;
        <mat-checkbox
          class="example-margin"
          [checked]="unitGeneric.unit.communication"
          disabled
          >Comunicación</mat-checkbox
        >
      </div>
    </div>

    <div class="row">
      <!-- ====================================
                LEFT COLUMN
               ==================================== -->
      <div class="col">
        <img class="unit-image" [src]="imageURL" (click)="openDialogImage()" />
        <br /><br />
        <div class="row">
          <div class="col-md-6">Sector:</div>
          <div class="col-md-6">
            {{ unitGeneric.unit.sector ? unitGeneric.unit.sector.name : "" }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">Estación:</div>
          <div class="col-md-6">
            {{ unitGeneric.unit.station ? unitGeneric.unit.station.name : "" }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">Conjuntos:</div>
          <div class="col-md-6">
            <span *ngFor="let set of unitGeneric.unit.sets; let i = index"
              ><span *ngIf="i > 0">, </span>{{ set.name }}</span
            >
          </div>
        </div>

        <hr />

        <div class="row">
          <div class="col-md-6">Altitud:</div>
          <div class="col-md-6">
            {{ unitGeneric.unit.altitude }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">Latitud:</div>
          <div class="col-md-6">
            {{ unitGeneric.unit.latitude }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">Longitud:</div>
          <div class="col-md-6">
            {{ unitGeneric.unit.longitude }}
          </div>
        </div>

        <hr />
      </div>

      <!--  -->
      <div class="col">
        <div class="row">
          <div class="col-md-6">Lectura:</div>
          <div class="col-md-6">
            <b style="font-size: 1.5em"
              >{{ unitGeneric.property1$ | async | number }}&nbsp;m3</b
            >
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">Inicio tanda:</div>
          <div class="col-md-6">
            <b style="font-size: 1.5em"
              >{{ unitGeneric.data1 | number }}&nbsp;m3</b
            >
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">Tanda:</div>
          <div class="col-md-6">
            <b style="font-size: 1.5em">{{ tanda | number }}&nbsp;m3</b>
          </div>
        </div>
        <div class="row">
          <button mat-raised-button color="warn" (click)="batchReset()">
            Reiniciar tanda
          </button>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-6">Sensor 2:</div>
          <div class="col-md-6">
            {{ unitGeneric.property2$ | async }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">Sensor 3:</div>
          <div class="col-md-6">
            {{ unitGeneric.property3$ | async }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">Sensor 4:</div>
          <div class="col-md-6">
            {{ unitGeneric.property4$ | async }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">Sensor 5:</div>
          <div class="col-md-6">
            {{ unitGeneric.property5$ | async }}
          </div>
        </div>

        <hr />

        <!--       <div class="row">
        <div class="col-4">Dato 1:</div>
        <div class="col">
          {{ unitGeneric.data1 }}
        </div>
      </div> -->
        <div class="row">
          <div class="col-sm-6">Dato 3:</div>
          <div class="col-sm-6">
            {{ unitGeneric.data3 }}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">Dato 4:</div>
          <div class="col-sm-6">
            {{ unitGeneric.data4 }}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">Dato 5:</div>
          <div class="col-sm-6">
            {{ unitGeneric.data5 }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <!-- ====================================
            BOOTOM CONTENT
           ==================================== -->
  <div mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Cerrar</button>
    <button
      mat-raised-button
      (click)="openDialogUnitGenericCreate()"
      [disabled]="disabled"
    >
      Modificar
    </button>
  </div>
</div>
