<!-- ====================================
      TITLE
     ==================================== -->
<h1 mat-dialog-title>{{ set.name }}</h1>
<!-- ====================================
            CONTENT
           ==================================== -->
<div mat-dialog-content>
  <div class="row">
    <!-- ====================================
                LEFT COLUMN
               ==================================== -->
    <div class="col dialog-col-mw">
      <img class="unit-image" [src]="imageURL" (click)="openDialogImage()" />
      <br /><br />

      <div class="container-fluid">
        <div class="row">
          <div class="col-3">
            Tipo:
            <br />
            Descripción:
          </div>
          <div class="col">
            {{ set.setType.name }}
            <br />
            {{ set.description }}
          </div>
        </div>
      </div>
    </div>
    <!-- ====================================
                RIGTH COLUMN
               ==================================== -->
    <div class="col dialog-col-mw">
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input />
      </mat-form-field>

      <mat-selection-list [multiple]="false">
        <mat-list-option *ngFor="let unit of units" role="listitem" (click)="openDialogUnit(unit)">{{ unit.code }} {{
          getType(unit) }}</mat-list-option>
      </mat-selection-list>
    </div>
  </div>
</div>

<hr />

<!-- ====================================
            BOOTOM CONTENT
           ==================================== -->
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cerrar</button>
  <button appRoleModerator mat-raised-button (click)="openDialogSetCreate()">
    Modificar
  </button>
</div>
